body {
  margin: 0;
  padding: 0;
  background-color: #deb888;
}

div#contents {
  margin: 10px auto;
  width: 80%;
}

div#timer {
  font-size: 16vw;
  text-align: center;
  color: #8b4513;
}

div#btns {
  text-align: center;
}

div.btn {
  margin: 10px 5%;
  padding: 20px 30px;
  width: 20vw;
  text-align: center;
  font-size: 25px;
  display: inline-block;
}

div#start-btn {
  background-color: #8b4513;
  color: white;
}

div#stop-btn {
  background-color: #daa520;
  color: #daa520;
}
